*.pyc
*.root
*.npz
*.eps
*.png
*.bak
*.txt
*.json
*.log
*.pdf
*.out
*stdout
*stderr
*tgz
*docker_stderror
ggSkims*/*
crab*/crab_*
ntupleAnalysis/__*
condor/jdls/*
*TEST*
*Test*
*ipynb_checkpoints*
*dasmaps*
*bak*
ntupleAnalysis/test/*
*archive*
*BAD*
